* {box-sizing: border-box;}

body {background-color: white;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px; /* sets the font size to 16px */
    font-weight: 300; /* sets the font weight to 300 */
    line-height: 1.6; /* sets the line height to 1.6 * the font-size */
    color: #4a4a4a;}

h1, h2, h3, h4 {line-height: 1.4}
h1{font-size: 2.75em; font-weight: 700; text-align: center;}
h2{font-size: 2.75em; font-weight: 700; text-align: center;}
h3{font-size: 1.75em; font-weight: 400;}
h4{font-size: 1.35em; font-weight: 400;}
p{padding-left: 5px; padding-right: 5px;}

img {width: 100%;}
svg {width: 100%; height: auto;}
picture{text-align: center;}

.velapicture img{width: 58%;}

header {
    position: absolute;
    width: 100%;
    background-color: lightgray;
    padding: 10px 0;
	background: lightgrey; 
	border: none; 
	box-shadow: 14px 13px 25px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 14px 13px 25px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 14px 13px 25px rgba(0, 0, 0, 0.1)  ; }

a {color: #1A5E63; text-decoration: none; /*no underlining*/}
a:visited { /*visited link */ color:#1A5E63}
a:active { /* selected link */ color: #1E3888}
a:hover {color: #6FBF4A; text-decoration: underline; /*underlining when hovering over a link*/}
a:hover, a:focus {color: #6FBF4A; text-decoration: underline;}


.button {background-color: transparent;
        display: inline-block; 
        color: #1A5E63; 
        text-transform: uppercase;
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #1E3888;
        opacity: 1;
        transition: all .2s ease;
        border: 2px solid #1A5E63;}
.button:active {color: #1E3888;}
.button:hover {background-color: #1A5E63; color: #ffffff; opacity: 0.8}

.button.resume {background-color: transparent; 
    color: #1A5E63; 
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #1E3888;
    transition: 0.2s opacity;
    border: 2px solid #1A5E63;
    transition-duration: 0.2s;
    transition-property: opacity;}
.button.resume:active {color: #1E3888;}
.button.resume:hover {background-color: #1A5E63; color: #ffffff; opacity: 0.8}

/* layout styling */

.container {padding: 0 15px}
.row {margin: 25px 0;}
#work .row{ padding-bottom: 25px; border-bottom: 1px solid #1A5E63}
#hero h1 {text-align: center;}
.logo {max-width: 150px;}
.logo {width: 100px; height: 100px; padding-bottom: 0
    ;}
nav > ul {list-style-type: none;
        padding: 0px;
        margin: 0;}
nav > ul > li > a{
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1A5E63;}

#hero {background-color: white;
  padding: 20px;
  display: inline-block;
  width: 100%; }

main {padding-top: 142px;}

.hero-p {text-align: center;}
.social {text-align: center;}
.social a{display: inline-block;
margin: 0 10px;}
.social svg {width: 50px; height: auto;}

.summary {padding-bottom: 25px; border-bottom: 1px solid #1A5E63;}
.contact a {text-align: center;
display: block;}
.contact a:last-child {padding-bottom: 15px;}
.contactp {text-align: center;}

.copyright {font-size: 10px; text-align: center;}

.tableofcontents {list-style: none; padding-left: 5px;}

.svg-logo-container{display: flex; align-items: center;}

.navtoggle, .navtoggle.responsive {
    position: relative;
  }

.navtoggle li:not(:last-child) {
    display: none;
  }

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }

.navtoggle.responsive li  {
    display: block;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid darkgrey;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

  .icon i {
    font-size: 30px;}

.hero {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    
.hero-content {
      margin: 0 auto; /* Add this line */
      text-align: center;
      max-width: 600px; /* Optional: Set a maximum width for the content */
    }

.website-ipad-green {
      display: flex;
      align-items: flex-start; /* Align elements to the top */
    }
    
    .website-ipad-green img {
      width: 50%; /* Adjust the width of the image */
      margin-right: 20px; /* Add spacing between the image and text */
    }
    
    .website-ipad-green p {
      flex: 1; /* Allow the text to take up remaining space */
    }

.website-macbook-yellow {
      display: flex;
      align-items: flex-start; /* Align elements to the top */
    }
    
    .website-macbook-yellow img {
      width: 25%; /* Adjust the width of the image */
      margin-right: 20px;
      margin-left: 20px; /* Add spacing between the image and text */
      order: 2;
    }
    
    .website-macbook-yellow p {
      flex: 1; /* Allow the text to take up remaining space */
      order: 1;
    }

.design-content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .svg-colors-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; /* Adjust margin as needed */
  }

  /* Style for individual SVGs */
  .svg-colors-container svg {
      width: 12%; /* Adjust the width of SVGs */
      height: auto;
      margin: 0 10px; /* Adjust margin between SVGs */
  }

 .website-macbook-orange {
    display: flex;
    align-items: flex-start; /* Align elements to the top */
  }
  
  .website-macbook-orange img {
    width: 25%; /* Adjust the width of the image */
    margin-right: 20px;
    margin-left: 20px; /* Add spacing between the image and text */
    order: 2;
  }
  
  .website-macbook-orange p {
    flex: 1; /* Allow the text to take up remaining space */
    order: 1;
  }


  .website-ipad-pink {
    display: flex;
    align-items: flex-start; /* Align elements to the top */
  }
  
  .website-ipad-pink img {
    width: 30%; /* Adjust the width of the image */
    margin-right: 20px; /* Add spacing between the image and text */
  }
  
  .website-ipad-pink p {
    flex: 1; /* Allow the text to take up remaining space */
  }

.website-macbook-iphone img{width: 75%;
align-items: center;}
.vela-picture-resize img{width: 35%;}
.website-picture-resize img{width: 50%;}

.headingcontainer {
  text-align: center;
  padding: 0 20px; /* Add some horizontal padding for white space on the sides */
}

.headingcontainer p {
  max-width: 800px; /* Limit the maximum width of the paragraph to make it wrap into multiple lines */
  margin: 0 auto; /* Center the paragraph within the container */
}

.bodycontainer {
  padding: 0 20px; /* Add some horizontal padding for white space on the sides */
}

.bodycontainer p {
  max-width: 1200px; /* Limit the maximum width of the paragraph to make it wrap into multiple lines */
  margin: 0 auto; /* Center the paragraph within the container */
}

/*================ media query breakpoints==================*/
/*----- medium devices (640px and larger)-------*/
@media only screen and (min-width: 640px){
    header{
        text-align: unset;
        padding: 20px 0 13px;}

    .header-nav{ 
        width: auto;
        float: right;
        margin-top: 18px;
    }
    .col-md-6{
        width: 50%;
    }
    [class*=col-] {
        float: left;
        padding-left: 10px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
      }
      .logo {min-width: 250px;}
      nav > ul > li{display: inline-block;}

      .navtoggle li:not(:last-child) {
        display: inline-block;
      }

      .navtoggle li:last-child {
        display: none;
      }

      nav > ul {
        margin: 1em 0;
      }
.resize-img-noah {width: 50%}
.resize-img-vela {width: 75%}
.resize-img-iphone-red {width: 75%}
.picture {text-align: center;}
}
/*----- large devices (1024px and larger)-------*/
@media only screen and (min-width: 1024px){
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-5{
        width: 41.66%;
    }

    .logo {min-width: 250px;}
    nav > ul > li{display: inline-block;}

    .navtoggle li:not(:last-child) {
        display: inline-block;
      }

      .navtoggle li:last-child {
        display: none;
      }

      nav > ul {
        margin: 1em 0;
      }

.resize-img-noah {width: 50%}
.resize-img-vela {width: 75%}
.resize-img-iphone-red {width: 75%}
.picture {text-align: center;}

}